<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smgk.library.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.smgk.library.bean.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="book_photo" jdbcType="VARCHAR" property="bookPhoto" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="book_time" jdbcType="TIMESTAMP" property="bookTime" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="book_genre" jdbcType="INTEGER" property="bookGenre" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    book_id, book_name, book_desc, book_photo, book_author, book_time, count, book_genre
  </sql>
  <select id="selectByExample" parameterType="com.smgk.library.bean.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.smgk.library.bean.BookExample">
    delete from tbl_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smgk.library.bean.Book">
    insert into tbl_book (book_id, "book_name", book_desc, 
      book_photo, book_author, book_time, 
      count, book_genre)
    values (#{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, 
      #{bookPhoto,jdbcType=VARCHAR}, #{bookAuthor,jdbcType=VARCHAR}, #{bookTime,jdbcType=TIMESTAMP}, 
      #{count,jdbcType=INTEGER}, #{bookGenre,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.smgk.library.bean.Book">
    insert into tbl_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        "book_name",
      </if>
      <if test="bookDesc != null">
        book_desc,
      </if>
      <if test="bookPhoto != null">
        book_photo,
      </if>
      <if test="bookAuthor != null">
        book_author,
      </if>
      <if test="bookTime != null">
        book_time,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="bookGenre != null">
        book_genre,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="bookPhoto != null">
        #{bookPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null">
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        #{bookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="bookGenre != null">
        #{bookGenre,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smgk.library.bean.BookExample" resultType="java.lang.Long">
    select count(*) from tbl_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_book
    <set>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null">
        "book_name" = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDesc != null">
        book_desc = #{record.bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.bookPhoto != null">
        book_photo = #{record.bookPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.bookAuthor != null">
        book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.bookTime != null">
        book_time = #{record.bookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.bookGenre != null">
        book_genre = #{record.bookGenre,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_book
    set book_id = #{record.bookId,jdbcType=INTEGER},
      "book_name" = #{record.bookName,jdbcType=VARCHAR},
      book_desc = #{record.bookDesc,jdbcType=VARCHAR},
      book_photo = #{record.bookPhoto,jdbcType=VARCHAR},
      book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      book_time = #{record.bookTime,jdbcType=TIMESTAMP},
      count = #{record.count,jdbcType=INTEGER},
      book_genre = #{record.bookGenre,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smgk.library.bean.Book">
    update tbl_book
    <set>
      <if test="bookName != null">
        "book_name" = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="bookPhoto != null">
        book_photo = #{bookPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null">
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        book_time = #{bookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="bookGenre != null">
        book_genre = #{bookGenre,jdbcType=INTEGER},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smgk.library.bean.Book">
    update tbl_book
    set "book_name" = #{bookName,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      book_photo = #{bookPhoto,jdbcType=VARCHAR},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      book_time = #{bookTime,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      book_genre = #{bookGenre,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <!-- 
  		//查找书，并把类别 也查出来 
    	List<Book> getAllBookAndGenre();
   -->
   <resultMap id="getAllBookAndGenreMap" type="com.smgk.library.bean.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="book_photo" jdbcType="VARCHAR" property="bookPhoto" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="book_time" jdbcType="TIMESTAMP" property="bookTime" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="book_genre" jdbcType="INTEGER" property="bookGenre" />
    	<association property="genre" select="com.smgk.library.dao.GenreMapper.selectByPrimaryKey" column="book_genre">
    		<id column="genre_id" jdbcType="INTEGER" property="genreId" />
    		<result column="genre_name" jdbcType="VARCHAR" property="genreName" />
    	</association>
  </resultMap>
  <select id="getAllBookAndGenre" resultMap="getAllBookAndGenreMap" >
  	select * from tbl_book
  </select>
  <!-- 
  		Book getBookAndGenreById(Integer bookId);
   -->
   <resultMap id="getBookAndGenreByIdMap" type="com.smgk.library.bean.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="book_photo" jdbcType="VARCHAR" property="bookPhoto" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="book_time" jdbcType="TIMESTAMP" property="bookTime" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="book_genre" jdbcType="INTEGER" property="bookGenre" />
    	<association property="genre" select="com.smgk.library.dao.GenreMapper.selectByPrimaryKey" column="book_genre">
    		<id column="genre_id" jdbcType="INTEGER" property="genreId" />
    		<result column="genre_name" jdbcType="VARCHAR" property="genreName" />
    	</association>
  </resultMap>
  <select id="getBookAndGenreById" resultMap="getBookAndGenreByIdMap">
  	select * from tbl_book where book_id=#{bookId}
  </select>
</mapper>